<%= form_with(model: crime_witness, local: false) do |form| %>

  <li style="list-style: none">
    <% witnesses = Witness.all %>
    <%= form.collection_select :witness_id, witnesses.order(:name),:id,:name, include_blank: true %>
  </li>

<%# Witness.all.each do |witness|%>
<!--  <li style="list-style: none">-->
    <%#= form.label :witness_id, witness.name %>
    <%#= form.radio_button :witness_id,witness.id %>
<!--  </li><%# end %>-->
<%= hidden_field_tag 'crime_id', @crime.id  %>
  <% if crime_witness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crime_witness.errors.count, "error") %> impidió que se guardara este testigo:</h2>

      <ul>
        <% crime_witness.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions mx-auto" >
    <%= form.submit "Añadir testigo al procedimiento"%>
  </div>
<% end %>
