<p id="notice"><%= notice %></p>

<h1>Testigos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crime_witnesses.each do |crime_witness| %>
      <tr>
        <td><%= link_to 'Abrir', crime_witness %></td>
        <td><%= link_to 'Editar', edit_crime_witness_path(crime_witness) %></td>
        <td><%= link_to 'Eliminar', crime_witness, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir testigo', new_crime_witness_path %>
