<%= form_with(model: crime_file, local: false) do |form| %>
<ul class="list-group">
<li style="list-group-item">
<%= form.label :description, "Descripcion Archivo" %>
<%= form.text_field :description %>
</li>
<%= form.hidden_field :crime_id, value: @crime.id %>
<li style="list-group-item">
  <%= form.label :file, 'Archivo' %>
  <%= form.file_field :file%>
</li>
</ul>
  <% if crime_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crime_file.errors.count, "error") %> impidió que se guardara este archivo:</h2>

      <ul>
        <% crime_file.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
