<div class="field mx-auto", style="width: 200px;">
<%= form_with(model: victim, local: false ) do |form| %>
  <% if victim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(victim.errors.count, "error") %> prohibited this victim from being saved:</h2>

      <ul>
        <% victim.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :detalle %>
    <%= form.text_field :detalle %>
  </div>

    <br>
  <div class="actions">
    <%= form.submit "Añadir Victima" %>
  </div>
<% end %>
</div>