<p id="notice"><%= notice %></p>

<h1>Victims</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rut</th>
      <th>Age</th>
      <th>Detalle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @victims.each do |victim| %>
      <tr>
        <td><%= victim.name %></td>
        <td><%= victim.rut %></td>
        <td><%= victim.age %></td>
        <td><%= victim.detalle %></td>
        <td><%= link_to 'Abrir', victim %></td>
        <td><%= link_to 'Editar', edit_victim_path(victim) %></td>
        <td><%= link_to 'Eliminar', victim, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Víctima', new_victim_path %>
