<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @victim.name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @victim.rut %>
</p>

<p>
  <strong>Age:</strong>
  <%= @victim.age %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @victim.detalle %>
</p>

<%= link_to 'Edit', edit_victim_path(@victim) %> |
<%= link_to 'Back', victims_path %>
