<p id="notice"><%= notice %></p>

<h1>Crime Victims</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crime_victims.each do |crime_victim| %>
      <tr>
        <td><%= link_to 'Show', crime_victim %></td>
        <td><%= link_to 'Edit', edit_crime_victim_path(crime_victim) %></td>
        <td><%= link_to 'Destroy', crime_victim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crime Victim', new_crime_victim_path %>
