<div class="field mx-auto", style="width: 200px;">
<%= form_with(model: thief, local: false) do |form| %>

  <div class="field">
    <%= form.label :name, 'Nombre'%>
    <%= form.text_field :name%>
  </div>
  <div class="field">
    <%= form.label :rut%>
    <%= form.text_field :rut%>
  </div>
  <div class="field">
    <%= form.label :tags%>
    <%= form.text_field :tags%>
  </div>
  <div class="field">
    <%= form.label :alias_list, 'Alias'%>
    <%= form.text_field :alias_list%>
  </div>
  <% if thief.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thief.errors.count, "error") %> impidieron registrar al imputado:</h2>

      <ul>
        <% thief.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <br>
  <div class="actions">
    <%= form.submit "Registrar Imputado" %>
  </div>
<% end %>
</div>